body,
html {
  overflow-x: hidden;
}

/* Header Start */
.bar-line {
  height: 2px;

  transition: all 0.5s;
  cursor: pointer;
  width: fit-content;
  background: black;
}
div#left-header {
  cursor: pointer;
}
#f-line {
  width: 22px;
}
.bars {
  display: flex;
  width: fit-content;
  flex-direction: column;
  row-gap: 3px;
}
#s-line {
  width: 17px;
}
#t-line {
  width: 12px;
}
.site-logo {
  cursor: pointer;
}

.bars:hover .bar-line {
  width: 22px !important;
  cursor: pointer;
  background-color: #c33130;
}
.main-header {
  background-color: #f4f1ea;
}
.sec-header {
  column-gap: 20px;
}
.searches {
  color: #464646;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.order-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  padding: 15px 25px;
  background: #c33130;
  color: #fff;
  overflow: hidden;
  z-index: 100;
  position: relative;
}
.hovers:hover:before {
  transform: scale(1, 1);
}
.hovers:before {
  content: "";
  border-radius: 10px;
  transition: all 0.4s;
  background-color: #00833e;
  width: 100%;
  z-index: -1;
  height: 100%;
  left: 0;
  transform: scale(0);
  top: 0;
  position: absolute;
}
.cart-btn {
  background-color: #00833e;
  border-width: 0;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}
/* Header End */

/* Side Header Start */
ul.side-header-ul {
  padding: 15px 30px;
  margin: 0;
  list-style: none;
}
.side-header-menu {
  padding-top: 40px;
}
.side-header {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 9;
  height: 100vh;
}
.side-heading h2 {
  font-size: 14px;
  position: relative;
  cursor: pointer;
  color: #00000066;
  text-transform: capitalize;
}
.cross {
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 5px;
  font-size: 25px;
  font-family: monospace;
}
.side-heading h2:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.4s;
  bottom: -5px;
  background-color: #c33130;
}

.side-heading h2.active {
  color: #000;
}
.side-heading h2.active:before {
  transform: scale(1);
}
.side-heading {
  padding: 0px 30px;
}
.side-header {
  position: absolute;
  left: 0;
  transition: all 0.3s;
  transform: translatex(-355px);
  top: 0;
  background-color: #fff;
  z-index: 999;
  width: 28%;
  height: 100vh;
}
.side-header.active {
  transform: translatex(0);
}
div#root.shown {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
div#root.shown:before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  z-index: 998;
}
.side-header-img {
  margin: 0 30px 30px;
  text-align: center;
}
.side-menu-list a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  color: #000;
  padding: 7px 0px;
}
.side-menu-list a:hover {
  color: #c33130;
}
/* Side Header End */

/* Main Banner Start */
.main-banner img {
  width: -webkit-fill-available;
  height: 600px;
  transition: all 1s;
}
.main-banner {
  overflow: hidden;
  z-index: 9;
}
.main-banner-img {
  translate: -50px 0px;
}
/* .banner-side-img img {
  translate: 0px -544px;
} */
.home-banner .slick-current .main-banner img {
  translate: 0px !important;
}
.banner-row {
  display: flex !important;
  width: 100%;
}

.banner-caption {
  position: absolute;
  right: 10px;
  color: #fff;
  top: 20%;
  width: 45%;
  height: 100%;
}
h2.heading {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 90px;
  translate: 550px;
  opacity: 0.5;
  transition: all 1.5s;
}
.home-banner .slick-current h2.heading {
  translate: 0px;
  opacity: 1;
}
.home-banner .slick-current .desc {
  translate: 0px;
  opacity: 1;
}
.desc {
  translate: -550px;
  transition: all 1.5s;
  opacity: 0.7;
  font-size: 18px;
  text-transform: capitalize;
}
.banner-caption .order-btn {
  opacity: 0;
  translate: 550px 0px;
  transition: all 1.5s;
}
.banner-row .col-sm-6:nth-child(2) {
  overflow-x: hidden;
}
.layer:before {
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 99;
  top: 0;
  opacity: 0.6;
}
.home-banner .slick-current .banner-caption .order-btn {
  opacity: 1;
  translate: 0px;
}
.rotate-img {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rotate-img .first-img img {
  width: 100px;
  position: absolute;
  height: 100px;
  top: 50px;
  left: 52px;
}
.rotate-img .second-img img {
  width: 200px;
  height: 200px;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Main Banner End */

/* About Section Start */
h2.about-heading {
  font-size: 16px;
  color: #c33130;
  font-weight: 700;
}
h1.about-desc {
  font-size: 55px;
  color: #212121;
  font-weight: 800;
  text-transform: uppercase;
}
.detail-desc {
  color: #464646;
  font-size: 15px;
  font-weight: 400;
}
.rotate-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about {
  padding: 120px 30px;
  background-color: #f1eee7;
}
.about-side-img1 img {
  animation: move 10s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(-15px) rotate3d(1, 0, 1, 19deg);
  }
  100% {
    transform: translate(-15px) rotate3d(1, 0, 1, -19deg);
  }
}
/* About Section End */

/* Category Section Start */
/* .cat-section {
} */
.cat-card:hover {
  background-color: #f2a735;
}
.cat-card:hover h2.catdesc {
  color: #fff;
}
.cat-card:hover h2.catdesc {
  color: #fff;
}
.cat-card:hover .cat-name .name {
  color: #fff;
}
.cat-card {
  z-index: 999;
  padding: 50px 0px 50px;
  border: 1px solid #8080802b;
  transition: all ease 0.35s;
  overflow: hidden;
  border-top: 0px;
  position: relative;
  border-bottom: 0px;
  background: #fff;
  color: #00000073;
  text-align: center;
}

h2.catdesc {
  font-size: 20px;
  transition: all ease 0.35s;
  font-family: fantasy;
}
.card-img img {
  width: 100%;
  transition: all ease 0.35s;
}
.cat-name .name {
  font-size: 41px;
  transition: all ease 0.35s;
  font-family: fantasy;
}
.cat-name {
  transition: all ease 0.35s;
}
.cat-card:hover .cat-name {
  transform: translatey(-300px);
}
.cat-card:hover img {
  transform: translatey(100px);
}

.cat-card:before {
  content: "Burger Pizza Burger Pizza";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: fantasy;
  transition: all ease 0.35s;
  font-weight: 900;

  color: #0000001a;
  font-size: 100px;
  transform: rotate(315deg) translate(-55px);
}
.cat-card:hover:before {
  transform: rotate(315deg) translatex(-95px) translatey(55px);
}
a {
  outline: none;
}
/* Category Section End */

/* Offer Section Start */
.offer-heading h2 {
  font-size: 80px;
  font-family: fantasy;
  line-height: 78px;
}
.offer-sub-heading h4 {
  color: #ffcc19;
  font-size: 17px;
  line-height: 1.75em;
  font-family: fantasy;
  letter-spacing: 2px;
}
.offer-sub-heading h5 {
  margin: 0 0 45px;
  width: 85%;
  font-size: 17px;
}
#offer {
  background-image: url(../public/Images/h1_bg2.jpg);
  background-position: center;
  padding: 100px;
  color: #fff;
}

/* Offer Section End */

/* Best Selling Section Start */
section#best-selling {
  background: #f4f1ea;
  padding: 50px 20px;
}
a {
  text-decoration: none;
}
.bestselling-heading h2 {
  font-size: 62px;
  font-family: fantasy;
}
.bestselling-product .product {
  padding: 0 30px 30px;
}
.product-title a {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 700;
  transition: all 0.2s;
}
.product-title a:hover {
  color: #00833e;
}
.product-desc {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.product {
  transition: all 0.5s;
  position: relative;
  z-index: 99;
}
.product:before {
  content: "";
  transition: all 0.3s;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 70%;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
.product:hover:before {
  height: 100%;
}
.product-price {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: #c33130;
}
.price-cart .cart-btn {
  transition: all ease-in-out 0.3s;
}
.price-cart .cart-btn:hover {
  background-color: #c33130;
}
.continuous-slide h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b7b7b7;
  font-size: 64px;
  font-weight: 900;
}
/* Best Selling Section End */

/* Three Main Food Start */
.three-food h2 {
  font-size: 59px;
  font-weight: 900;
  line-height: 55px;
}
.three-food-desc p {
  font-size: 17px;
  font-weight: bolder;
  line-height: 19px;
}
.three-food .price {
  color: #f2a735;
  font-size: 38px;
  font-weight: 800;
}
/* .three-food img {
  width: 100%;
} */

.three-food {
  position: relative;
  background-image: url(../public/Images/h1_img.jpg);
  padding: 152px 20px 0px 50px;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.three-food .content {
  position: absolute;
  z-index: 9;
  left: 54px;
  top: 103px;
  color: #fff;
}
.three-food:hover #compl-img {
  transform: scale(1.1);
}
.three-food img {
  transition: all 0.3s;
}
img#compl-img {
  width: 70%;
  position: relative;
  left: 32%;
}
/* Three Main Food End */

/* Our Client Start */
.client-card {
  padding: 50px 30px;
  background: #fff;
  border-radius: 13px;
}
.client-name {
  font-weight: bold;
}
.slick-dots li.slick-active button:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: #c33130;
  border-radius: 20px;
  opacity: 1;
}
.slick-dots li button:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #8080804f;
  border-radius: 50%;
  opacity: 1;
}
.slick-dots {
  bottom: -60px;
}
/* Our Client End */

/* Blog Start */
.blog-heading {
  text-align: center;
  font-weight: 700;
  color: #c33130;
}
.blog-img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.blog-img:hover img {
  transform: scale(1.1);
}
.blog-img img {
  width: 100%;
  transition: all 0.3s;
}

.blog-details span {
  color: #0000004a;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s;
}
.blog-title a {
  text-transform: uppercase;
  font-size: 28px;
  color: #212121;
  font-weight: 700;
  transition: all 0.5s;
  line-height: 35px;
}
.blog-title a:hover {
  color: #c33130;
}
.blog-description p {
  font-size: 15px;
  color: #4c4a4a;
}
.read-more a {
  color: #000;
}
.read-more {
  display: inline;
}
.blog-details span:hover {
  color: #c33130;
}
.read-more a {
  transition: all 0.5s;
  font-size: 17px;
  font-weight: 600;
}
.read-more:hover a {
  color: #c33130;
}
/* Blog End */

/* Home Page Gallery Start */
.gallery-img img {
  width: 100%;
  height: 243px;
  object-fit: cover;
}
.gallery-img {
  position: relative;
  cursor: pointer;
}
.gallery-img:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s;
}
.gallery-img:hover:before {
  opacity: 0.5;
}
/* Home Page Gallery End */

/* Footer Start */
#footer {
  padding: 110px 30px 120px;
}
.address {
  text-transform: capitalize;
  color: #212121b0;
  font-weight: 500;
}
.mail a {
  color: #212121b0;
  font-weight: 500;
}
.mobile a {
  color: #c33130;
  font-weight: 600;
}
.mobile a {
  color: #c33130;
  font-weight: 700;
  font-size: 19px;
}
.footer-heading h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
}
.footer-menu-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-list a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 0px;
  display: block;
  color: #212121a1;
  transition: all 0.3s;
  font-weight: 500;
}
.menu-list a:hover {
  color: #c33130;
}
#footer-product-menu .footer-menu-ul {
  column-count: 2;
}
#footer-product-menu .footer-menu-ul li {
}
.footer-days {
  color: #212121a1;
  font-weight: 500;
}
.footer-days .time {
  color: #c33130;
}

.footer-icons {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 10px;
}
.icon-list a {
  color: #212121a1;
  border-radius: 50%;
  border: 1px solid;
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-list a:hover {
  color: #c33130;
}
.main-footer .col-sm-6 {
  border-right: 1px solid #80808045;
}
.copyrights {
  border-top: 1px solid #80808045;
}
/* Footer End */
